body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
button{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: white;
    padding: 1rem 2rem;
    border: none;
    background-color: rgb(96, 99, 99);
    border-radius: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
button::after{
    content: "";
    width: 103%;
    height: 107%;
    position: absolute;
   background-image: linear-gradient(to right bottom, #008cff , #e100ff);
   border-radius: 1000px;
   z-index: -1;
}
button:hover{
    z-index: 1;
    box-shadow: 40px 0 100px #008cff81, -40px 0 100px #e100ff8f;
}